[submodule "crates/particle-milkdrop-converter-sys/vendor/milkdrop-shader-converter"]
	path = crates/particle-milkdrop-converter-sys/vendor/milkdrop-shader-converter
	url = https://github.com/jberg/milkdrop-shader-converter.git
